In [48]:
import json
import pandas as pd
from sqlalchemy import create_engine
from login_info import *

In [49]:
connection_string = "{}:{}@localhost:5432/crime_db".format(username, password)
engine = create_engine(f'postgresql://{connection_string}')

In [50]:
suburbs_data = "Suburbs_Lat_lng.csv"

In [51]:
suburbs_data = pd.read_csv(suburbs_data)
suburbs_data

     Suburb/Town Name                 LGA        Lat         Lng
0            Dederang              Alpine -36.473881  147.017504
1          Glen Creek              Alpine -36.441280  146.935870
2          Gundowring              Alpine -36.347993  147.075251
3     Kergunyah South              Alpine -36.426842  147.036163
4      Mongans Bridge              Alpine -36.589659  147.100327
...               ...                 ...        ...         ...
2825  Vite Vite North         Corangamite -37.771024  143.198864
2826     Tabberabbera      East Gippsland -37.548016  147.401422
2827      Clover Flat  Southern Grampians -37.599910  141.552799
2828     Tarrayoukyan  Southern Grampians -37.294629  141.615112
2829          Miowera          Wellington -37.480031  147.152593

[2830 rows x 4 columns]

In [52]:
engine.table_names()

['location', 'crime', 'local_gov_area']

In [53]:
suburbs_data = suburbs_data.rename(columns={"Suburb/Town Name": "suburb", "LGA": "lga", "Lat":"latitude", "Lng": "longitude"})
suburbs_data

               suburb                 lga   latitude   longitude
0            Dederang              Alpine -36.473881  147.017504
1          Glen Creek              Alpine -36.441280  146.935870
2          Gundowring              Alpine -36.347993  147.075251
3     Kergunyah South              Alpine -36.426842  147.036163
4      Mongans Bridge              Alpine -36.589659  147.100327
...               ...                 ...        ...         ...
2825  Vite Vite North         Corangamite -37.771024  143.198864
2826     Tabberabbera      East Gippsland -37.548016  147.401422
2827      Clover Flat  Southern Grampians -37.599910  141.552799
2828     Tarrayoukyan  Southern Grampians -37.294629  141.615112
2829          Miowera          Wellington -37.480031  147.152593

[2830 rows x 4 columns]

In [111]:
suburbs_data = suburbs_data.dropna(how="any")
suburbs_data

               suburb                 lga   latitude   longitude
0            Dederang              Alpine -36.473881  147.017504
1          Glen Creek              Alpine -36.441280  146.935870
2          Gundowring              Alpine -36.347993  147.075251
3     Kergunyah South              Alpine -36.426842  147.036163
4      Mongans Bridge              Alpine -36.589659  147.100327
...               ...                 ...        ...         ...
2825  Vite Vite North         Corangamite -37.771024  143.198864
2826     Tabberabbera      East Gippsland -37.548016  147.401422
2827      Clover Flat  Southern Grampians -37.599910  141.552799
2828     Tarrayoukyan  Southern Grampians -37.294629  141.615112
2829          Miowera          Wellington -37.480031  147.152593

[2829 rows x 4 columns]

In [55]:
suburbs_data.to_sql(name='location', con=engine, if_exists='append', index=False)

In [90]:
crime_data = "Criminal_incidents.csv"

In [91]:
crime_data = pd.read_csv(crime_data)

In [92]:
crime_data.head()

,Year,Year ending,Local Government Area,Postcode,Suburb/Town Name,Offence Division,Offence Subdivision,Offence Subgroup,Incidents Recorded,Unnamed: 9
0,2021,March,Alpine,3691,Dederang,A Crimes against the person,A20 Assault and related offences,A211 FV Serious assault,1,NaN
1,2021,March,Alpine,3691,Glen Creek,C Drug offences,C30 Drug use and possession,C32 Drug possession,1,NaN
2,2021,March,Alpine,3691,Gundowring,C Drug offences,C10 Drug dealing and trafficking,C12 Drug trafficking,1,NaN
3,2021,March,Alpine,3691,Gundowring,E Justice procedures offences,E10 Justice procedures,E13 Resist or hinder officer,1,NaN
4,2021,March,Alpine,3691,Kergunyah South,B Property and deception offences,B40 Theft,B49 Other theft,1,NaN

In [93]:
crime_df = crime_data.drop(columns=["Year ending", "Offence Subgroup", "Unnamed: 9"])

In [94]:
crime_df.index.name = "index_no"
crime_df

,Year,Local Government Area,Postcode,Suburb/Town Name,Offence Division,Offence Subdivision,Incidents Recorded
index_no,,,,,,,
0,2021,Alpine,3691,Dederang,A Crimes against the person,A20 Assault and related offences,1
1,2021,Alpine,3691,Glen Creek,C Drug offences,C30 Drug use and possession,1
2,2021,Alpine,3691,Gundowring,C Drug offences,C10 Drug dealing and trafficking,1
3,2021,Alpine,3691,Gundowring,E Justice procedures offences,E10 Justice procedures,1
4,2021,Alpine,3691,Kergunyah South,B Property and deception offences,B40 Theft,1
...,...,...,...,...,...,...,...
319368,2012,Yarriambiack,3487,Lascelles,B Property and deception offences,B50 Deception,1
319369,2012,Yarriambiack,3488,Speed,B Property and deception offences,B40 Theft,2
319370,2012,Yarriambiack,3489,Tempy,A Crimes against the person,A20 Assault and related offences,1
319371,2012,Yarriambiack,3489,Tempy,A Crimes against the person,"A70 Stalking, harassment and threatening behav...",1
319372,2012,Yarriambiack,3491,Patchewollock,A Crimes against the person,Other crimes against the person,3

In [95]:
crime_df = crime_df.rename(columns={"Year":"year","Suburb/Town Name": "suburb", "Postcode":"postcode", "Local Government Area": "lga", "Offence Division": "offence_div",
                                   "Offence Subdivision":"offence_sub_div", "Incidents Recorded": "incidents"})

In [96]:
crime_df = crime_df[["year", "suburb", "lga", "postcode", "offence_div", "offence_sub_div", "incidents"]]

In [97]:
crime_df.head()

,year,suburb,lga,postcode,offence_div,offence_sub_div,incidents
index_no,,,,,,,
0,2021,Dederang,Alpine,3691,A Crimes against the person,A20 Assault and related offences,1
1,2021,Glen Creek,Alpine,3691,C Drug offences,C30 Drug use and possession,1
2,2021,Gundowring,Alpine,3691,C Drug offences,C10 Drug dealing and trafficking,1
3,2021,Gundowring,Alpine,3691,E Justice procedures offences,E10 Justice procedures,1
4,2021,Kergunyah South,Alpine,3691,B Property and deception offences,B40 Theft,1

In [100]:
crime_df = crime_df.dropna(how="any")
crime_df.head()

,year,suburb,lga,postcode,offence_div,offence_sub_div,incidents
index_no,,,,,,,
0,2021,Dederang,Alpine,3691,A Crimes against the person,A20 Assault and related offences,1
1,2021,Glen Creek,Alpine,3691,C Drug offences,C30 Drug use and possession,1
2,2021,Gundowring,Alpine,3691,C Drug offences,C10 Drug dealing and trafficking,1
3,2021,Gundowring,Alpine,3691,E Justice procedures offences,E10 Justice procedures,1
4,2021,Kergunyah South,Alpine,3691,B Property and deception offences,B40 Theft,1

In [109]:
crime_df.replace(',','', regex=True, inplace=True)
crime_df[["year", "postcode", "incidents"]] = crime_df[["year", "postcode", "incidents"]].apply(pd.to_numeric)

In [113]:
lyons_loc = crime_df.loc[crime_df["suburb"] == "Lyons"].index
lyons_loc

Int64Index([44750, 78449, 112062, 241530, 241531, 271605], dtype='int64', name='index_no')

In [114]:
crime_df = crime_df.drop(lyons_loc)

In [115]:
crime_df.to_sql(name='crime', con=engine, if_exists='append', index=True)